{% load static %}
<html>
    <head>
        <title>Flock</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}" style="color: #FFFFFF;">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Flock</a></h1>
            <div class="signup-link"> 
                <a href="{% url 'signup' %}" style="color: #FFFFFF;">新規ユーザー登録</a>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-xs-9">
                {% block content %}
                {% endblock %}
                </div>
                <div class="col-xs-3">
                    {% if user.is_authenticated %}
                        <!-- ToDoリストを表示するためのコードを追加 -->
                        {% include 'todo/todo_list.html' %}
                        <!-- ToDo追加フォームを表示する -->
                        <form method="post" action="{% url 'todo_create' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">ToDoを追加</button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-xs-3">
                    {% if user.is_authenticated %}
                        <!-- Memoリストを表示するためのコードを追加 -->
                        {% include 'note/note_list.html' %}
                        <!-- Memo追加フォームを表示する -->
                        <form method="post" action="{% url 'note_create' %}">
                            {% csrf_token %}
                            <input type="text" name="title" placeholder="タイトル">
                            <textarea name="content" placeholder="内容"></textarea>
                            <button type="submit" class="btn btn-primary">メモを追加</button>
                            <a href="{% url 'note_list' %}" class="btn btn-primary">メモ一覧ページへ</a>
                        </form>
                    {% endif %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <!-- Groupリストを表示するためのコードを追加 -->
                        {% include 'group/group_list.html' %}
                        <!-- Group追加フォームを表示する -->
                        <form method="post" action="{% url 'group_create' %}">
                            {% csrf_token %}
                            <input type="text" name="group_code">
                            <a href="{% url 'group_create' %}">新しいグループを作成</a>
                            <a href="{% url 'group_list' %}" class="btn btn-primary">グループ一覧へ</a>
                        </form>
                    {% endif %}
                </div>
                <div class="qa-section">
                    {% if user.is_authenticated %}
                    <h2>Q&A</h2>
                    <!-- 質問の一覧を表示 -->
                    <ul>
                       {% for question in questions %}
                            <li>{{ question.title }}</li>
                        {% endfor %}
                    </ul>
                    <!-- チャットページへのリンク -->
                    <a href="{% url 'qa_chat_page' %}" class="btn btn-primary">Q&Aの専用ページ</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>