<!-- todo_create.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Create ToDo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/todo_form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
</head>
<body>
    <h1>Create ToDo</h1>
    <form method="post" id="todo-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
    </script>
</body>
</html>