h1 a, h2 a {
    color: #FFFFFF;
    font-family: 'Times New Roman';
}

h2 {
    color: #FFFFFF;
}

body, .page-header {
    background-image: url('office_main.jpg');
    /*padding-left: 15px;*/
     /* 以下のプロパティで背景画像の表示方法を設定します。 */
    background-size: cover; /* 画像をウィンドウ全体に広げる */
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
}

.page-header {
    position: relative; /* ポジションを相対に設定 */
    /*background-color: #0FF6E9;*/
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 3px solid #FFFFFF;
}

.signup-link {
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto; /* 必要な幅を指定 */
    height: auto; /* 必要な高さを指定 */
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}

.content.container {
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    margin-left: 0px;
    padding-left: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', cursive;
}

.date {
    color: #FFFFFF;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FFFFFF;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-decoration: none; /* 下線を削除 */
}

.post {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.post h2 a, .post h2 a:visited {
    color: #FFFFFF;
}

.comment {
    margin: 20px 0px 20px 20px;
    color: #FFFFFF;
}

