h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
}

body {
    background-color: #7C7C7C;
    font-family: 'Times New Roman', cursive;
    color: #000000;
}

p {
    font-size: 30px;
    color: #FFFFFF;
}

ul {
    list-style-type: none; /* 箇条書きのマーカーをなし */
    color: #FFFFFF;
    margin-left: 20px;
    padding: 0; /* パディングをなし */
}

li {
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 10px; /* 下のマージン */
}

a {
    text-decoration: none;
    color: #03FFEE;
}

a:hover {
    text-decoration: underline;
}