h1 {
    color: #FFFFFF;
    /*text-align: center;*/
    font-size: 30px;
    margin-bottom: 20px;
}

body {
    background-color: #7C7C7C;
    font-family: 'Times New Roman', cursive;
    color: #000000;
}

/* メモのリストのスタイル */
ul {
    list-style-type: none; /* 箇条書きのマーカーをなし */
    color: #FFFFFF;
    margin-left: 20px;
    padding: 0; /* パディングをなし */
}

/* メモのリストアイテムのスタイル */
li {
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 10px; /* 下のマージン */
}

/* メモのリンクのスタイル */
li a {
    color: #FFFFFF; /* テキストの色 */
    text-decoration: none; /* 下線をなし */
}

/* メモのリンクのホバースタイル */
li a:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
}